* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

#nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #222222;
}

#nav > img {
  float: right;
  margin: 5px 10px;
  cursor: pointer;
}

#nav-bar {
  position: fixed;
  background-color: #222222;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: -5px;
  display: none;
}

#nav-wide {
  display: none;
}

#nav-bar > a {
  display: block;
  color: lightgray;
  text-decoration: none;
  transition: transform 500ms;
}

#nav-bar > a:hover {
  transform: scale(1.1);
}

#intro {
  width: min(95%, 600px);
  margin: 45px auto 20px auto;
}

#intro > h1 {
  font-size: 3rem;
  animation: headingSlideDown 300ms;
}

.text,
a {
  color: #666666;
  font-size: 1.2rem;
  line-height: 30px;
}

#experience,
#interest {
  margin-top: 10px;
}

#technologies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 0;
  gap: 20px;
}

#technologies > div {
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  transition: all 1000ms;
}

#technologies > div:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 10px 1px lightgray;
}

#technologies > div > a {
  text-decoration: none;
}

#technologies > div > a > p {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideup {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@media (max-width: 840px) {
  #intro {
    animation: slideright 1000ms;
  }

  @keyframes slideright {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media (min-width: 600px) {
  #technologies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 840px) {
  #nav {
    display: none;
  }

  #nav-bar {
    display: none;
  }

  #container {
    height: 100vh;
    display: flex;
  }

  #nav-wide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: min(25%, 1000px);
    padding-top: 20px;
    box-shadow: 0 0 10px 5px lightgray;
    animation: navWideSlide 1000ms;
  }

  #nav-wide > a {
    text-decoration: none;
    transition: transform 1000ms;
  }

  #nav-wide > a:hover {
    transform: scale(1.1);
    text-decoration: underline;
  }

  #intro {
    width: min(55%, 1000px);
    margin: 20px auto 0 auto;
    animation: slidedown 2000ms;
  }

  @keyframes navWideSlide {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
